.sidebar{
display: flex;
flex-direction: column;
width: 200px;
background-color: #f8f9fa;
padding: 1rem;
margin: 0;
color: #333;
box-sizing: border-box;
gap: 0.5rem;
}

.link{
background-color: #f8f9fa;
color: #333;
}

.active{
background-color: #e9ecef;
color: #007bff;
}

.link, .active{
padding: 1rem;
margin: 0;
text-decoration: none;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}